nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

nav a {
    margin: 10px;
}

body {
    margin: 0;
    padding: 0;
}

.section {
    display: flex;
    font-size: 25px;
    width: 70%;
    height: 370px;
    background: grey;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.aside {
    display: flex;
    font-size: 25px;
    width: 410px;
    height: 185px;
    background: rgb(160, 160, 160);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.comment {
    display: flex;
    font-size: 25px;
    width: 410px;
    height: 185px;
    background: rgb(197, 197, 197);
    text-align: center;
    justify-content: center;
    align-items: center;
}